<a href="https://colab.research.google.com/github/srhr17/deep-learning-models/blob/master/udemy_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [0]:
df=pd.read_csv('sample_data/california_housing_train.csv')

In [8]:
ls

drive/  sample_data/

In [10]:
df.head(5)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [0]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
df=ss.fit_transform(df)
df=pd.DataFrame(df)

In [15]:
df.head(5)

          0         1         2  ...         6         7         8
0  2.619365 -0.671520 -1.079671  ... -0.075998 -1.252543 -1.210558
1  2.539569 -0.573264 -0.761872  ... -0.099404 -1.081483 -1.096745
2  2.494683 -0.905463 -0.920772  ... -0.999252 -1.170105 -1.048461
3  2.489696 -0.928857 -1.159121  ... -0.715774 -0.362600 -1.154514
4  2.489696 -0.961609 -0.682422  ... -0.622148 -1.026454 -1.222629

[5 rows x 9 columns]

In [16]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [0]:
x=df.iloc[:,0:8]

In [25]:
x

              0         1         2  ...         5         6         7
0      2.619365 -0.671520 -1.079671  ... -0.361184 -0.075998 -1.252543
1      2.539569 -0.573264 -0.761872  ... -0.261865 -0.099404 -1.081483
2      2.494683 -0.905463 -0.920772  ... -0.955354 -0.999252 -1.170105
3      2.489696 -0.928857 -1.159121  ... -0.796793 -0.715774 -0.362600
4      2.489696 -0.961609 -0.682422  ... -0.701830 -0.622148 -1.026454
...         ...       ...       ...  ...       ...       ...       ...
16995 -2.342963  2.318265  1.859971  ... -0.455275 -0.343872 -0.799999
16996 -2.347950  2.369733  0.588774  ... -0.205236 -0.094203 -0.715727
16997 -2.362912  2.907801 -0.920772  ... -0.161675 -0.117609 -0.446663
16998 -2.362912  2.889085 -0.761872  ... -0.114630 -0.060394 -0.997787
16999 -2.387848  2.299550  1.859971  ... -0.543268 -0.601343 -0.455363

[17000 rows x 8 columns]

In [0]:
y=df.iloc[:,8]

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [0]:
model=Sequential()
model.add(Dense(32,activation='relu',input_shape=(8,)))
model.add(Dense(64,activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dense(1))

In [0]:
model.compile(loss='mean_squared_error',optimizer='adam')

In [33]:
model.fit(x_train,y_train,epochs=100,batch_size=10)

Epoch 1/100
12750/12750 [==============================] - 2s 155us/step - loss: 0.3337
Epoch 2/100
12750/12750 [==============================] - 2s 138us/step - loss: 0.2659
Epoch 3/100
12750/12750 [==============================] - 2s 124us/step - loss: 0.2508
Epoch 4/100
12750/12750 [==============================] - 2s 129us/step - loss: 0.2378
Epoch 5/100
12750/12750 [==============================] - 2s 118us/step - loss: 0.2301
Epoch 6/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.2237
Epoch 7/100
12750/12750 [==============================] - 2s 124us/step - loss: 0.2180
Epoch 8/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.2135
Epoch 9/100
12750/12750 [==============================] - 2s 129us/step - loss: 0.2100
Epoch 10/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.2066
Epoch 11/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.2039
Epoch 12/100
12750/12750 [==============================] - 2s 126us/step - loss: 0.2017
Epoch 13/100
12750/12750 [==============================] - 2s 130us/step - loss: 0.1978
Epoch 14/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1963
Epoch 15/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1931
Epoch 16/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1921
Epoch 17/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1896
Epoch 18/100
12750/12750 [==============================] - 2s 129us/step - loss: 0.1878
Epoch 19/100
12750/12750 [==============================] - 2s 127us/step - loss: 0.1867
Epoch 20/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1843
Epoch 21/100
12750/12750 [==============================] - 2s 128us/step - loss: 0.1838
Epoch 22/100
12750/12750 [==============================] - 2s 132us/step - loss: 0.1828
Epoch 23/100
12750/12750 [==============================] - 2s 138us/step - loss: 0.1789
Epoch 24/100
12750/12750 [==============================] - 2s 125us/step - loss: 0.1799
Epoch 25/100
12750/12750 [==============================] - 2s 118us/step - loss: 0.1774
Epoch 26/100
12750/12750 [==============================] - 2s 120us/step - loss: 0.1756
Epoch 27/100
12750/12750 [==============================] - 2s 125us/step - loss: 0.1751
Epoch 28/100
12750/12750 [==============================] - 1s 117us/step - loss: 0.1755
Epoch 29/100
12750/12750 [==============================] - 1s 117us/step - loss: 0.1718
Epoch 30/100
12750/12750 [==============================] - 1s 116us/step - loss: 0.1715
Epoch 31/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1708
Epoch 32/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1694
Epoch 33/100
12750/12750 [==============================] - 2s 120us/step - loss: 0.1697
Epoch 34/100
12750/12750 [==============================] - 2s 127us/step - loss: 0.1684
Epoch 35/100
12750/12750 [==============================] - 2s 118us/step - loss: 0.1657
Epoch 36/100
12750/12750 [==============================] - 2s 129us/step - loss: 0.1648
Epoch 37/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1632
Epoch 38/100
12750/12750 [==============================] - 2s 126us/step - loss: 0.1622
Epoch 39/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1614
Epoch 40/100
12750/12750 [==============================] - 2s 131us/step - loss: 0.1591
Epoch 41/100
12750/12750 [==============================] - 2s 127us/step - loss: 0.1579
Epoch 42/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1583
Epoch 43/100
12750/12750 [==============================] - 2s 120us/step - loss: 0.1568
Epoch 44/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1545
Epoch 45/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1537
Epoch 46/100
12750/12750 [==============================] - 2s 128us/step - loss: 0.1522
Epoch 47/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1532
Epoch 48/100
12750/12750 [==============================] - 2s 118us/step - loss: 0.1499
Epoch 49/100
12750/12750 [==============================] - 2s 127us/step - loss: 0.1514
Epoch 50/100
12750/12750 [==============================] - 2s 126us/step - loss: 0.1495
Epoch 51/100
12750/12750 [==============================] - 2s 128us/step - loss: 0.1482
Epoch 52/100
12750/12750 [==============================] - 2s 130us/step - loss: 0.1459
Epoch 53/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1454
Epoch 54/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1458
Epoch 55/100
12750/12750 [==============================] - 2s 133us/step - loss: 0.1455
Epoch 56/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1408
Epoch 57/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1412
Epoch 58/100
12750/12750 [==============================] - 2s 125us/step - loss: 0.1387
Epoch 59/100
12750/12750 [==============================] - 2s 125us/step - loss: 0.1418
Epoch 60/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1372
Epoch 61/100
12750/12750 [==============================] - 2s 134us/step - loss: 0.1372
Epoch 62/100
12750/12750 [==============================] - 2s 125us/step - loss: 0.1395
Epoch 63/100
12750/12750 [==============================] - 2s 132us/step - loss: 0.1368
Epoch 64/100
12750/12750 [==============================] - 2s 124us/step - loss: 0.1352
Epoch 65/100
12750/12750 [==============================] - 2s 125us/step - loss: 0.1338
Epoch 66/100
12750/12750 [==============================] - 2s 118us/step - loss: 0.1324
Epoch 67/100
12750/12750 [==============================] - 2s 120us/step - loss: 0.1302
Epoch 68/100
12750/12750 [==============================] - 2s 130us/step - loss: 0.1334
Epoch 69/100
12750/12750 [==============================] - 2s 126us/step - loss: 0.1302
Epoch 70/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1303
Epoch 71/100
12750/12750 [==============================] - 2s 119us/step - loss: 0.1302
Epoch 72/100
12750/12750 [==============================] - 2s 120us/step - loss: 0.1274
Epoch 73/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1279
Epoch 74/100
12750/12750 [==============================] - 2s 118us/step - loss: 0.1264
Epoch 75/100
12750/12750 [==============================] - 2s 119us/step - loss: 0.1240
Epoch 76/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1266
Epoch 77/100
12750/12750 [==============================] - 2s 120us/step - loss: 0.1243
Epoch 78/100
12750/12750 [==============================] - 2s 126us/step - loss: 0.1219
Epoch 79/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1240
Epoch 80/100
12750/12750 [==============================] - 2s 127us/step - loss: 0.1214
Epoch 81/100
12750/12750 [==============================] - 2s 124us/step - loss: 0.1226
Epoch 82/100
12750/12750 [==============================] - 2s 121us/step - loss: 0.1203
Epoch 83/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1196
Epoch 84/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1207
Epoch 85/100
12750/12750 [==============================] - 2s 119us/step - loss: 0.1183
Epoch 86/100
12750/12750 [==============================] - 2s 119us/step - loss: 0.1203
Epoch 87/100
12750/12750 [==============================] - 2s 131us/step - loss: 0.1184
Epoch 88/100
12750/12750 [==============================] - 2s 127us/step - loss: 0.1159
Epoch 89/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1186
Epoch 90/100
12750/12750 [==============================] - 2s 128us/step - loss: 0.1177
Epoch 91/100
12750/12750 [==============================] - 2s 118us/step - loss: 0.1155
Epoch 92/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1154
Epoch 93/100
12750/12750 [==============================] - 2s 131us/step - loss: 0.1134
Epoch 94/100
12750/12750 [==============================] - 2s 125us/step - loss: 0.1125
Epoch 95/100
12750/12750 [==============================] - 2s 126us/step - loss: 0.1122
Epoch 96/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1130
Epoch 97/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1138
Epoch 98/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1141
Epoch 99/100
12750/12750 [==============================] - 2s 122us/step - loss: 0.1088
Epoch 100/100
12750/12750 [==============================] - 2s 123us/step - loss: 0.1129

In [0]:
y_pred=model.predict(x_test)

In [0]:
y_pred=pd.DataFrame(y_pred)

In [39]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)*100

78.45892750767558